* {
  all: unset; // Unsets everything so you can style everything from scratch
  // font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

@import 'colors.scss';

$background-color: $base03;
$primary: $blue;
$font-color: $base3;
$border-radius: 5px;
$border-size: 1px;
$shadow-color:#2e2e2e;
$shadow-size:2px;
$shadow: 0px 0px $shadow-size $shadow-color;;

@import 'styles/workspaces.scss';
@import 'styles/bluetooth.scss';
@import 'styles/icons.scss';
@import 'styles/time.scss';
@import 'styles/powermenu.scss';

// Global Styles
.bar {
  // background-color: #3a3a3a;
  //color: #b0b4bc;
  // min-height: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
  //box-shadow: inset 0px 0px 10px #000000;
}

.popup-background {
  border:1px solid $primary;
  background-color: $background-color;
  opacity: 0.7;
  box-shadow: $shadow;
  border-radius: $border-radius;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  padding: 6px;
  color: $primary;
}

.metric scale trough highlight {
  all: unset;
  background-color: $primary;
  color: #000000;
  border-radius: $border-radius;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}