.group {
  padding: 2px 5px;
  border: $border-size solid $primary;
  border-radius: $border-radius;
  background-color: $background-color;
  margin-right: 10px;
  min-width: 1em;
  
}




.island {
  // padding-right: 5px;

  .shutdown {
    color: $font-color;
    background-color: $red;
    //padding:2px 0;
    // padding-left: 10px;
    // padding-right: 15px;
    border-radius: $border-radius;

  }

  .battery {
    color: $font-color;
    border: 2px solid $primary;
    margin: 0 10px;
    background-color: $background-color;
    border-radius: $border-radius;

    .icon {
      background-color: $primary;
      padding: 0 10px;
    }

    .Discharging {
      background-color: $red;
    }

    .text {
      padding: 0 10px;
    }
  }

  .battery.Discharging {
    border: 2px solid $red;

    .icon {
      background-color: $red;
    }
  }

  .bluetooth {
    background-color: $background-color;
    border: 2px solid $primary;

    padding-right: 13px;
    padding-left: 10px;
    border-radius: $border-radius;
  }
}