.powermenu{
    .action{
        border: $border-size solid $primary;
        background-color: $background-color;
        border-radius: $border-radius;
        margin: 10px;
        font-size: 2.2em;
    }
}